{% extends 'base.html' %} {% load static %}
{% block content %}
<div class="row mt-5 mx-auto">
  <div class="col-md-6 mx-auto">
    <div class="card card-body bg-light border border-secondary border-3 rounded-3">
      <p>Are you sure you want to delete <strong>"{{object}}"</strong> ?</p>
      <form action=" " method="POST">
        {% csrf_token %}
        <div class="d-grid gap-2 mx-auto">
          <a class="btn btn-info" href="{% url 'blog:main_page' %}"
            >Cancel</a
          >
          <input
            class="btn btn-danger"
            type="submit"
            name="Confirm"
            value="Delete"
          />
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
