{% extends 'users/base.html' %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-7">
      <div class="card-block">
        <!--           <h4 class="card-title">Small card</h4> -->
        <h4>{{blog.title}}</h4>
        <p>{{blog.text}}</p>
        {% if request.user == blog.author %}
        <a
          href="{% url 'blog:update' id=blog.id %}"
          class="btn btn-primary btn-sm"
          >Update</a
        >
        <a
          href="{% url 'blog:delete' id=blog.id %}"
          class="btn btn-danger btn-sm"
          >Delete</a
        >
        {% endif %}
      </div>
    </div>

    <div class="col-sm-5">
      <img
        class="d-block w-100"
        style="height: 10rem; width: 10rem"
        src="{{blog.img}}"
        alt="blog cap"
      />
    </div>
  </div>
</div>
{% endblock content %}
