{% extends 'base.html' %} {% block content %}
<div class="container">
    <div class="row my-2 mt-5">
  {% for obj in object_list %}
  <div class="col-12 col-sm-6 col-md-4 my-3">
    <div class="card shadow mb-5 border border-secondary bg-light rounded-top" style="max-width: 20rem; min-width: 14rem;">
        <img src="{{ obj.image.url }}" class="card-img-top" alt="blog_image" style="height: 14rem;"/>
        <!-- <h5 class="card-header text-center">{{ obj.category }}</h5> -->
      <div class="card-body p-4">
        <h5 class="card-title text-center">
          <a href="{% url 'blog:detail' obj.slug %}">{{obj.title}}</a>
        </h5>
        <p class="card-text text-center">{{obj.text|truncatechars:20}}</p>

        <p class="card-text d-flex justify-content-evenly ">
          <span class="text-secondary"><i class="far fa-comment fa-lg"></i> {{ obj.comment_count }}</span>
          <span class="text-info"><i class="fas fa-eye ml-3 fa-lg"></i> {{ obj.view_count }}</span>
          <span class="text-danger"><i class="fab fa-gratipay ml-3 fa-lg"></i> {{ obj.like_count }}</spanS>
        </p>
        <div class="card-footer p-0 m-0">
        <p class="card-text text-center">
          <small class="text-muted"><i class="far fa-clock"></i> Created {{obj.created_date|timesince}} ago. </small>
        </p>
      </div>
    </div>
    </div>
  </div>

  {% endfor %}
</div>
</div>
{% endblock content %}
