{% load static %}

<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
  <button
    class="navbar-toggler navbar-toggler-right"
    type="button"
    data-toggle="collapse"
    data-target="#navbarCollapse"
    aria-controls="navbarCollapse"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div>
    <ul class="navbar-nav mr-auto">
      <a class="navbar-brand" href="{% url 'blog:main_page'  %}">
        <img src="{% static 'users/images/bootstrap-solid.svg' %}" width="30" height="30" class="d-inline-block align-top" alt="">
        Blogs
      </a>
    </ul>
  </div>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'blog:main_page' %}">Home</a>
      </li>
      {% if request.user.is_authenticated %} 

        {% if request.user.is_superuser %}

        <li class="nav-item active">
          <a class="nav-link" href="/admin">Admin</a>
        </li>
        {% endif %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'users:about' %}">About</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'users:profile' %}">Profile</a>
      </li><li class="nav-item active">
        <a class="nav-link" href="{% url 'blog:add' %}">New Blog</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'users:logout' %}">Logout</a>
      </li>
      {% else %}

      <li class="nav-item active">
        <a class="nav-link" href="{% url 'users:about' %}">About</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'users:user_login' %}">Login</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'users:register' %}">Register</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
